<h1>The Pancake</h1>

<p>Bienvenue, afin de connaître la réponse à LA Question, tu dois d'abord te connecter ou t'enregistrer si tu es un petit nouveau !!</p>
<button type="button" class="btn btn-default"><%= link_to "Log in", login_path %></button>
<button type="button" class="btn btn-default"><%= link_to "Sign up", new_user_path %></button>