<h1> La réponse est : </h1>

<% if logged_in? %>
<div class="container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Dg_Ig_dr-0M?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

<% else %>
<p> You need to be logged in to know the answer !! </p> 
<button type="button" class="btn btn-default"><%= link_to "Log in", login_path %></button>

          
<% end %>